html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.3;
  --mdc-theme-primary: #689f38;
  --mdc-theme-secondary: #ff5722;

  font-family: 'Fira Sans', Roboto, sans-serif;
}

#menuButton {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 36px;
  padding: 18px;
  width: 72px;
  height: 72px;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.4), transparent 8rem);
}

#osd-bl {
  position: absolute;
  left: 16px;
  bottom: 16px;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
}

#osd-br {
  position: absolute;
  right: 16px;
  bottom: 16px;
  text-align: right;
}

#walletAddress {
  background-color: rgba(255, 255, 255, .4);
  font-size: 1.2rem;
}

#dispTokenBalance {
  text-shadow: 0 0 6px white, 0 0 6px white, 0 0 6px white;
  font-size: 3.38rem;
  margin-bottom: -1rem;
}

#contractAddress {
  font-size: 1.2rem;
  line-height: 1.6;
  text-decoration: none;
}

body.loading #contractAddress {
  opacity: .4;
  pointer-events: none;
}

#tokenBalance {
    font-weight: 500;
    font-size: 5.3rem;
}

#tokenSymbol {
  font-family: Philosopher, 'Fira Sans', Roboto, sans-serif;
}

.--buySellEthField,
.--buySellCowField,
.--transferCowField {
  max-width: 12rem;
}

.--prevent-break {
  display: inline-block;
  white-space: nowrap;
}

button.mdc-button.mdc-button--_big {
  padding: 8px 32px;
  height: 52px;
}

#appTitle {
  color: white;
  font-weight: 700;
}

.mdc-drawer__header {
  background-image: linear-gradient(0deg, rgba(0,0,0,.7), rgba(0,0,0,.15) 3em), url(../assets/grass.jpg);
  background-size: contain;
}

.break-on-small-screen {
  display: none;
}

body.complete .show-when-loading,
body.loading .hide-when-loading {
  display: none;
}

#loading-text {
  color: rgba(0, 0, 0, .7);
  font-family: Philosopher, 'Fira Sans', Roboto, sans-serif;
  font-size: 4rem;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 14px;
  }
  #dispTokenBalance {
    margin-bottom: 1rem !important;
  }
  .break-on-small-screen {
    display: inline;
  }
}

#buyCowFragment,
#sellCowFragment,
#transferCowFragment {
  line-height: 2.4;
}

/********** Quirks **********/
@media (min-width: 600px) {
  .mdc-drawer {
    width: calc(100% - 64px);
    max-width: 320px;
  }
}

.mdc-drawer .mdc-drawer__content {
  padding: 8px 0;
}

.mdc-drawer .mdc-drawer__header {
    position: relative;
}

.mdc-drawer .mdc-drawer__header:before {
  display: block;
  padding-top: 56.25%;
  content: "";
}

.mdc-drawer .mdc-drawer__header-content {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 16px;
}

.mdc-drawer .mdc-list-item--activated,
.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
  color: var(--mdc-theme-primary, #6200ee);
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  /* should have 87% bg, but never mind */
  color: var(--mdc-theme-primary, #6200ee);
}

.mdc-drawer .--align-self-center {
  align-self: center;
}

@media screen and (min-width: 932px) {
  .mdc-dialog .mdc-dialog__surface {
    min-width: 720px;
    max-width: 900px;
  }
}
